<!-- _includes/author-profile.html -->
{% assign author = site.data.authors[page.author] | default:site.data.authors.creciunel %}
<div class="author-profile">
  <div class="author-avatar">
    <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}">
  </div>
  <div class="author-details">
    <h3>{{ author.name }}</h3>
    <p class="author-bio">{{ author.bio }}</p>
    <div class="author-links">
      {% for link in author.links %}
        <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
          <i class="{{ link.icon }}"></i>
        </a>
      {% endfor %}
    </div>
  </div>
</div>