body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

/*NAvbar*/

.Navbar{
    background-color: rgba(92, 10, 60, 0.5);    
}

.btn-size{
    font-size: 22px;
}

.btn1-size{
    font-size: 32px;
}

.menu-btn{
    text-decoration: none;
    color: cornsilk;
    margin: 0 0.5em;
}

.menu-btn:hover{
    color: rgb(133, 228, 218);
}

/*Content*/

.left-content{
    text-align: center;
    border: 2px solid rgb(31, 16, 16);
    border-radius: 1em;
}

ol {
    list-style-type: none;
}

.content-link{
    color: rgb(106, 170, 170);
    text-decoration: none;
}

.content-link:hover{
    color: tomato;
}


.right-content{
    color: rgb(82, 197, 197);
    text-align: center;
}
/*Index*/

.article-index{
    text-align: center;
}

@media only screen and (max-width: 1020px) {
    .video{
        height: 240px;
        width: 426px;
    }
}

@media only screen and (max-width: 790px) {
    .video{
        height: 144px;
        width: 256px;
    }
}

@media only screen and (max-width: 560px) {
    .video{
        height: 112px;
        width: 200px;
    }
}


/*About*/

.article-about{
    border: 2px solid black;
    border-radius: 20px;
}

.about-image1{
    border-radius: 2em;
    justify-content: center;
}


.article-about a{
    color: rgb(116, 7, 138);
    text-decoration: none;
    border: 1px solid black;
    border-radius: 7px;
    background-color: yellow;
    font-size: 20px;
}

.article-about a:hover{
    color: yellow;
    background-color: rgb(116, 7, 138);
    font-size: 21px;
}

/*Footer*/

footer{
    background-color: rgba(92, 10, 60, 0.5);
}

